* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    text-align: center;
    color: navy;
}

form {
    background-color: #ddd;
    color: #111;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

input,
textarea,
select,
button {
    padding: 0.75rem;
    width: 100%;
}

button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    cursor: pointer;
}

code {
    display: block;
    background: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}